@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/5bc6b600a84c7a14546bcd4915b2fb4c?family=Convection+Condensed);

.reduce-bottom-padding {
  padding-top: 200px;    /* Decrease the top padding */
  padding-bottom: 180px; /* Decrease the bottom padding */
  margin-top: 10px;     /* Decrease the top margin if necessary */
  margin-bottom: 10px;  /* Decrease the bottom margin if necessary */
}
/* Example of reducing padding/margin of child elements */
.child-element-class {
  padding: 5px;
  margin: 5px;
}
.flex-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
}
.fixed-height-container {
  height: 200px; /* Or any other fixed height */
  overflow: hidden; /* To prevent content from spilling out */
}
.text-element-class {
  font-size: 14px;
  line-height: 1.2;
}


.statistic-section {
  color: #fff;
  background-color: #02358A; /* Dark background */
  padding: 2rem;
  border-radius: 8px;
  margin-top: 2rem;
}

.header {
  font-size: 2rem; /* Larger text */
  margin-bottom: 1.2rem;
}

.statistic-container {

  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: stretch;
}

.statistic-item {
  background-color: #0f2971;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 3rem; /* Large, bold number */
  font-weight: bold;
}

.text, .subtext {
  font-size: 1.2rem;
}

.main {
  margin-top: 150px;
  margin-bottom: 80px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-right: 20px;
}

.maintext {
  color: #002d85;
  font-weight: 600;
  font-size: 3rem;
}

.description {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #002d85;
}

.image {
  margin-left: 100px;
  width: 400px;
  height: auto;
}