@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/5bc6b600a84c7a14546bcd4915b2fb4c?family=Convection+Condensed);

.reduce-bottom-padding {
  padding-top: 10rem;
  padding-bottom: 9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  animation-duration: 2s;
  animation-name: slidein1;
}

.child-element-class {
  padding: 5px;
  margin: 5px;
}
.flex-container {
  display: flex;
  align-items: flex-start;
}
.fixed-height-container {
  height: 10rem;
  overflow: hidden;
}
.text-element-class {
  font-size: 1rem;
  line-height: 1.2;
}

.statistic-section {
  color: #fff;
  background-color: #02358a;
  padding: 2rem;
  border-radius: 8px;
  margin-top: 2rem;
}

.header {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.statistic-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: stretch;
}

.statistic-item {
  background-color: #0f2971;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 3rem;
  font-weight: bold;
}

.text,
.subtext {
  font-size: 1.2rem;
}

.main {
  margin-top: 150px;
  margin-bottom: 80px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-right: 20px;
}

.maintext {
  color: #002d85;
  font-weight: 600;
  font-size: 3rem;
}

.description {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #002d85;
}

.image {
  margin-left: 100px;
  width: 25rem;
  height: auto;
}

.boxstyle {
  border: 1px solid #02358a;
  padding: 2.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 80%;
  background-color: #fff;
  box-shadow: 0 0 10px #02358a;
  transition: transform 0.3s ease;
  margin-bottom: 3rem;
  animation-duration: 3s;
  animation-name: slidein;
}

.section2 {
  font-size: 4rem;
  color: #002d85;
  margin-bottom: 1.5rem;
}
.section2p {
  color: #02358a;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .image {
    display: none;
  }

  .image1 {
    display: none;
  }

  .boxstyle {
    border: 1px solid #02358a;
    padding: 2.5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    max-width: 90%;
    background-color: #fff;
    box-shadow: 0 0 10px #02358a;
    transition: transform 0.3s ease;
    margin-bottom: 3rem;
  }
  .section2 {
    font-size: 2.5rem;
    color: #002d85;
    margin-bottom: 1.5rem;
  }
  .section2p {
    color: #02358a;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }
  .lg:pr-8,
  .xl:pr-16 {
    padding-right: 0 !important;
  }

  .lg:order-1,
  .lg:order-2 {
    order: 0 !important;
  }

  .mt-10,
  .mt-20 {
    margin-top: 0 !important;
  }

  .lg:flex-row {
    flex-direction: column !important;
  }

  .text-center,
  .lg:text-left {
    text-align: center !important;
  }
}

.transform {
  transition: transform 0.3s ease;
}

.transform:hover {
  transform: scale(1.05);
}

.iconStyle{
  width: 1.5rem;
  color: #002d85;
  height: 1.5rem;
}
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }
  to {
    width: 100%;
  }
}
@keyframes slidein1 {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
